[Unit]
Description=Change wallpaper with awww
After=awww-daemon.service
Requires=awww-daemon.service

[Service]
Type=oneshot
Environment=WAYLAND_DISPLAY=%t/wayland-1
Environment=XDG_RUNTIME_DIR=%t
Environment=XDG_CURRENT_DESKTOP=river
ExecStart=/usr/bin/bash -c '/usr/bin/awww img "$HOME/Pictures/Wallpapers/$(/usr/bin/ls "$HOME/Pictures/Wallpapers/" | /usr/bin/shuf -n 1)"'
StandardOutput=null
StandardError=journal

[Install]
WantedBy=default.target
