[Unit]
Description=Idle manager for Wayland (swayidle)
BindsTo=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/swayidle -w \
    timeout 300 'waylock -fork-on-lock' \
    timeout 600 'brightnessctl s 0' resume 'brightnessctl s 1000' \
    before-sleep 'waylock -fork-on-lock'
Restart=on-failure

[Install]
WantedBy=graphical-session.target
