[user]
	name = Thiago-Assis-T
	email = thiago.assisfernandes@gmail.com
[color]
	ui = auto
[pull]
	rebase = true
[core]
	editor = nvim
	fsmonitor = true
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[fsmonitor]
	allowRemote = true
